.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #95e39b 0.9;

}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
  margin-right: 10px;
}

.logo h1 {
  font-size: 24px;
  color: #000000;
}

.navigation {
  display: flex;
}

.navigation a {
  margin: 0 15px;
  text-decoration: none;
  color: #000000;
  font-size: 18px;
}

.navigation .active {
  font-weight: bold;
  border-bottom: 2px solid #134b15;
  color: #134b15;
}
